		<div id="home" class="page-section" style="position:absolute;top:0;left:0;width:100%;height:200px;z-index:-2;"></div>

		<section id="slider" class="slider-parallax full-screen with-header swiper_wrapper clearfix" data-effect="fade" data-autoplay="7000" data-speed="650" data-loop="true" data-progress="true">

			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<!--div class="swiper-slide dark" style="background-image: url('media/images/banner/studybuddy-1.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Study Buddy</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Viết thuê ESSAY, ASSIGNMENT, RESEARCH,...Uy Tín, Duy Nhất, Tuyệt Đối.</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark" style="background-image: url('media/images/banner/studybuddy-2.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Study Buddy</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Viết thuê ESSAY, ASSIGNMENT, RESEARCH,...Uy Tín, Duy Nhất, Tuyệt Đối.</p>
								</div>
							</div>
						</div-->
						<div class="swiper-slide" style="background-image: url('media/images/banner/studybuddy-3.jpg'); background-position: center top;">
							<div class="container clearfix">
								<div class="slider-caption">
									<h2 data-caption-animate="fadeInUp">Study Buddy</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Viết thuê ESSAY, ASSIGNMENT, RESEARCH,...Uy Tín, Duy Nhất, Tuyệt Đối.</p>
								</div>
							</div>
						</div>
					</div>
					<!--div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div id="slider-arrow-right"><i class="icon-angle-right"></i></div-->
				</div>

			</div>

		</section>