		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="{{ site.url }}/assets/img/logo/logo.png" alt="" class="Logo Study Buddy">

								<p>EVERYTHING IS DESIGNED, BUT SOME THINGS ARE DESIGNED WELL!</p>

								<div style="background: url('media/images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
									<strong>TRỤ SỞ:</strong><br>
									TP. Hà Nội<br>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> <a href="tel:0985629621">0985 629 621</a><br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> <a href="tel:0985629621">0985 629 621</a><br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> <a href="mailto:info@studybuddy.vn">info@studybuddy.vn</a><br>
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Blogroll</h4>

								<ul>
									<li><a href="{{ site.url }}">Trang chủ</a></li>
									<li><a href="{{ site.url }}/blog/">Blog</a></li>
									<li><a href="{{ site.url }}/team/">Team</a></li>
									<li><a href="{{ site.url }}/support/">Support</a></li>
									<li><a href="{{ site.url }}/contact/">Contact</a></li>
									<li><a href="{{ site.url }}/feedback/">Feedback</a></li>
									<li><a href="{{ site.url }}/testimonials/">Testimonials</a></li>
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Bài viết mới nhất</h4>

								<div id="post-list-footer">
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="50" data-to="6142" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Bài Viết</h5>
								</div>

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="1187" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Khách hàng</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Đăng kí</strong> để nhận ngay khuyến mãi mới nhất từ<br><span>STUDY BUDDY</span></h5>
							<div class="widget-subscribe-form-result"></div>
							<form id="widget-subscribe-form" action="subscribe.php" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Địa chỉ Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">ĐĂNG KÍ</button>
									</span>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Fanpage</strong><br>Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="{{ site.url }}/rss.xml" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="{{ site.url }}/rss.xml"><small style="display: block; margin-top: 3px;"><strong>Đăng kí</strong><br>Nhận tin</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

				<div class="clear"></div>

				<div class="row center">
					© Copyright {{ site.time | date:"%Y" }}. All Rights Reserved by STUDY BUDDY Ltd.<br>
					<div class="copyright-links"><a href="{{ site.url }}/tos.html">Terms of Use</a> / <a href="{{ site.url }}/privacy.html">Privacy Policy</a></div>
				</div>

			</div>

		</footer><!-- #footer end -->