		<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix" data-effect="fade" data-autoplay="4500" data-speed="650" data-loop="true" data-progress="true">

			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/images/slider/banner-tanbinhchi-1.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">TÂN BÌNH CHI</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200" style="font-size: 40px">SỨ MỆNH SỨC KHỎE XANH</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/images/slider/banner-tanbinhchi-2.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp" style="color: #000">TRÀ NGỦ NGON<br>
									BÌNH CHI</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200" style="font-size: 40px">TRỌN VẸN NHỮNG MỘNG LÀNH</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/images/slider/banner-tanbinhchi-3.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">CUỘC SỐNG XANH</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200" style="font-size: 40px">HÒA MÌNH VÀO THIÊN NHIÊN</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<a href="#" data-scrollto="#about" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

		</section>