
	<p style="text-align: center;">Bạn bị stress, khó ngủ, ngủ không sâu, sáng dậy mệt mỏi?<br>
		Hãy để lại thông tin để được các chuyên gia tư vấn <strong>miễn phí</strong></p>

	<div class="contact-widget">
		<div class="contact-form-result"></div>
		<form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post">
	
			<div class="form-process"></div>
			
			<div class="col_one_third">
				<label for="template-contactform-name">Họ và Tên <small>*</small></label>
				<input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
			</div>
	
			<div class="col_one_third">
				<label for="template-contactform-phone">Số Điện Thoại <small>*</small></label>
				<input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control required" />
			</div>
	
			<div class="col_one_third col_last" style="margin-top: 2em">
				<button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">ĐĂNG KÍ NGAY <i class="icon-check"></i></button>
			</div>
	
		</form>
	
	</div>

	<div class="clear"></div>

	<p style="text-align: center;">Hoặc liên hệ với chúng tôi theo cách khác!</p>

	<div class="col_full center">

		 <a href="tel:0939878282" title="Hotline Tân Bình Chi" rel="nofollow" target="_blank" class="button button-rounded si-gplus si-colored"><img src="assets/img/cta/cta-phone.png" alt="Hotline Tân Bình Chi" class="image_fade responsive-img lazy"></a> <a href="https://m.me/tanbinhchi.vn" title="Liên hệ facebook Tân Bình Chi" rel="nofollow" target="_blank" class="button button-rounded si-facebook si-colored leftmargin-sm"><img src="assets/img/cta/cta-facebook.png" alt="liên hệ facebook Tân Bình Chi" class="image_fade responsive-img lazy"></a> <a href="http://zalo.me/" title="Liên hệ zalo Tân Bình Chi" rel="nofollow" target="_blank" class="button button-rounded si-twitter si-colored"><img src="assets/img/cta/cta-zalo.png" alt="Liên hệ zalo Tân Bình Chi" class="image_fade responsive-img lazy"></a>
	</div>

	<div class="clear"></div>

	<a href="{{ site.url }}">TÂN BÌNH CHI</a> cam kết giữ kín mọi thông tin của quý khách hàng không được tiết lộ ra bên ngoài. Chúng tôi hoàn toàn tôn trọng quyền riêng tư của quý khách và coi trọng như tài sản của chúng tôi.
	
	<div class="clear"></div>

	<!--div class="promo promo-light bottommargin">
		<h3>HOTLINE: <span><a href="tel:0939878282">093 987 82 82</a></span> & Email: <span><a href="mailto:info@tanbinhchi.vn">info@tanbinhchi.vn</a></span></h3>
		<span>Trở thành <span class="color">Đại Lý/Nhà Phân Phối</span> của Tân Bình Chi ngay hôm nay để nhận được nhiều ưu đãi!</span>
		<a href="#" class="button button-xlarge button-rounded">BẮT ĐẦU NGAY</a>
	</div-->
