<div class="footer">
	<div class="wrapper clearfix">
		<div class="content-footer">
			<p style="text-align: center;"><span style="font-size:24px;">PHÒNG KINH DOANH TRỰC TIẾP DỰ ÁN THE GOLDEN ARMOR</span></p>
			<p style="text-align: center;"><span style="font-size:30px;color: #2ab53c;">HOTLINE: <strong>0944.326.836 - 0975.829.622</strong></span></p>     
		</div><!--End content-footer-->
			
		<div class="copyright-otit">
			<ul class="list-social clearfix">
				<li><a href="https://www.facebook.com/The-Golden-Armor-B6-Gi%E1%BA%A3ng-V%C3%B5-191659268287784/" target="_blank" title="" class="icon-social01"></a></li>
				<!--<li><a href="" target="_blank" title="" class="icon-social02"></a></li>-->
				<li><a href="#" target="_blank" title="" class="icon-social03"></a></li>
				<li><a href="#" target="_blank" title="" class="icon-social04"></a></li>
			</ul>
			<p><a href="/" title="thiết kế web bất động sản chuyên nghiệp" target="_blank">Design By: https://nguyentronghuynh.com</a></p>
		</div>
	</div><!--End wrapper-->
</div><!--End footer-->