		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<!--img src="{{ site.url }}/assets/img/logo/logo.png" alt="Logo" class="footer-logo"-->

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

								<div style="background: url('{{ site.url }}/assets/images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> 0985 629 621<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> 01234 629 621<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@nguyentronghuynh.com
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>Blogroll</h4>

								<ul>
									<li><a href="#">Nghệ Thuật Giao Tiếp</a></li>
									<li><a href="#">Câu Chuyện Cuộc Sống</a></li>
									<li><a href="#">Kỹ Năng Mềm</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Hỗ Trợ</a></li>
									<li><a href="#">Liên Hệ</a></li>
								</ul>

							</div>

						</div>
 
						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Bài viết mới nhất</h4>
								<div id="post-list-footer">
									{% for post in site.posts limit:3 %}
    								    <div class="spost clearfix">
    								        <div class="entry-c">
    								            <!--div class="entry-image">
    								               <a href="{{ site.url }}{{ post.url }}"><img class="image_fade img-circle" src="{{ post.image }}" alt="{{ post.title }}"></a>
    								            </div-->
    								            <div class="entry-title">
    								                <h5><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h5>
    								            </div>
    								            <ul class="entry-meta clearfix">
    								                <li><i class="icon-calendar3"></i> {{ post.date | date_to_long_string }}</li>
    								                <!-- <li><a href="#"><i class="icon-comments"></i> 12</a></li> -->
    								            </ul>
    								            <!-- <div>
    								                <p>{{ post.excerpt }}</p>
    								            </div> -->
    								        </div>
    								    </div>
    								{% endfor %}
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Total Downloads</h5>
								</div>

								<div class="col-md-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Clients</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Đăng kí</strong> để nhận tin tức khuyến mãi mới nhất từ chúng tôi:</h5>
							<div class="widget-subscribe-form-result"></div>
							<form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Địa chỉ Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Đăng kí</button>
									</span>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Like me</strong><br>on Facebook</small></a>
								</div>
								<div class="col-md-6 clearfix">
									<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
										<i class="icon-rss"></i>
										<i class="icon-rss"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
								</div>

							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

				<div class="clear"></div>

				<div class="row center">
					© Copyright {{ site.time | date:"%Y" }}. All Rights Reserved.<br>
					<div class="copyright-links"><a href="{{ site.url }}/tos.html">Chính Sách</a> / <a href="{{ site.url }}/privacy.html">Pháp Lý</a></div>
				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->