	<div class="fix-main-nav clearfix">
		<div class="body-fix-main-nav clearfix">
			<a  class="logo-mobile fll" href="/" title="Chung cư The Vesta Hà Đông">
				<img src="{{ site.url }}/assets/img/logo.png" alt="Chung cư The Vesta Hà Đông" />
			</a>
			<span id="menu-phone-header" class="icon-menu-phone"></span>
			<a href="tel:0944326836" title="hotline" class="hotline-menufix">0944.326.836</a>
			<div class="fix-menu">
				<ul class="clearfix">
					<li class="menu-1 selected"><a class="df" href="/" title="Trang chủ">TRANG CHỦ</a></li>
					<li class="menu-23 "><a class="df" href="/vi-tri/" title="Vị trí">VỊ TRÍ</a></li>
					<li class="menu-25 "><a class="df" href="/mat-bang-thiet-ke/" title="Mặt bằng">MẶT BẰNG</a></li>
					<li class="menu-26 "><a class="df" href="/noi-that/" title="Nội thất">NỘI THẤT</a></li>        
				</ul>
				<!--<ul class="list-language">
				<li><a href="" class="active">Tiếng Việt</a></li>
				<li><a href="">English</a></li>
				</ul>-->
				<ul class="clearfix">
					<li class="menu-24 "><a class="df" href="/tien-ich/" title="Tiện ích">TIỆN ÍCH</a></li>
					<li class="menu-27 "><a class="df" href="/chinh-sach-ban-hang/" title="Chính sách">CHÍNH SÁCH</a></li>
					<li class="menu-29 "><a class="df" href="/tin-tuc/" title="Tin tức">TIN TỨC</a></li>
					<li class="menu-30 "><a class="df" href="/lien-he/" title="Liên hệ">LIÊN HỆ</a></li>        
				</ul>
				<!--<ul class="list-language">
				<li><a href="" class="active">Tiếng Việt</a></li>
				<li><a href="">English</a></li>
				</ul>-->
			</div>
		</div><!--End body-fix-main-nav-->
	</div><!--End fix-main-nav-->

	<div class="banner-left"></div>
	<div class="banner-right"></div>
	<div class="box-hotline clearfix">
		<div class="left-hotline">
			<a href="tel:0944326836" title="hotline thiet ke web bat dong san" class="phone">0944.326.836</a>
		</div>
		<a href="tel:0975829622" title="hotline thiet ke web bat dong san" class="hotline-mobile"><span></span> GỌI</a>
	</div>
	<div class="overlay"></div>