		<!-- Header
		============================================= -->
		<header id="header">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="{{ site.url }}/images/logo-dark.png"><img src="{{ site.url }}/images/logo.png" alt="Canvas Logo"></a>
						<a href="/" class="retina-logo" data-dark-logo="{{ site.url }}/images/logo-dark@2x.png"><img src="{{ site.url }}/images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu">
							<li class="current"><a href="#" data-href="#section-home"><div>Trang chủ</div></a></li>
							<li><a href="#" data-href="#section-features"><div>Sản phẩm</div></a></li>
							<li><a href="#" data-href="#section-pricing"><div>Bảng giá</div></a></li>
							<li><a href="#" data-href="#section-gallery"><div>Hình Ảnh</div></a></li>
							<li><a href="#" data-href="#section-testimonials"><div>Khách hàng</div></a></li>
							<li><a href="#" data-href="#section-faqs"><div>Câu hỏi thường gặp</div></a></li>
							<li><a href="#" data-href="#section-contact"><div>Liên hệ</div></a></li>
						</ul>

						
						
						<!-- Modal -->
						<div class="modal1 mfp-hide subscribe-widget" id="myModal1">
							<div class="block dark divcenter" style="background: url('{{ site.url }}/images/modals/modal1.jpg') no-repeat; background-size: cover; max-width: 700px	;" data-height-lg="400">
								<div style="padding: 50px;">
									<div class="heading-block nobottomborder bottommargin-sm" style="max-width:500px;">
										<h3>Newsletter Subscribe</h3>
										<span>Get Latest Fashion Updates &amp; Offers</span>
									</div>
									<div class="widget-subscribe-form-result"></div>
									<form class="widget-subscribe-form2" action="{{ site.url }}/include/subscribe.php" role="form" method="post" style="max-width: 350px;">
										<input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control input-lg 	not-dark required email" placeholder="Enter your Email">
										<button class="button button-rounded button-border button-light noleftmargin" type="submit" style="margin-top:15px;">	Subscribe</button>
									</form>
									<p class="nobottommargin"><small><em>*We hate Spam &amp; Junk Emails.</em></small></p>
								</div>
							</div>
						</div>
						
					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->