		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header semi-transparent">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="{{ site.url }}/assets/img/logo/logo.png"><img src="{{ site.url }}/assets/img/logo/logo.png" alt="Study Buddy Logo"></a>
						<a href="/" class="retina-logo" data-dark-logo="{{ site.url }}/assets/img/logo/logo.png"><img src="{{ site.url }}/assets/img/logo/logo.png" alt="Study Buddy Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="style-3">

						<ul>
							<li><a href="{{ site.url }}"><div>Trang chủ</div></a></li>
							<li><a href="{{ site.url }}/projects/"><div>Bài Viết Mẫu</div></a></li>
							<li><a href="{{ site.url }}/team/"><div>Đội ngũ</div></a></li>
							<li><a href="{{ site.url }}/blog/"><div>Tin tức</div></a></li>
							<li><a href="{{ site.url }}/contact/" class="color"><div>Liên hệ</div></a></li>
						</ul>

						<div id="top-header-buttons" class="hidden-xs">
							<a href="tel:0123456789" class="button button-3d button-small button-rounded">HOTLINE: 0123 456 789</a>
						</div>

						<!-- Top Search
						============================================= -->
						<!--div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="tim-kiem" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Nhập nội dung tìm kiếm...">
							</form>
						</div--><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->


		<script type="application/ld+json">
		    {
		      "@context": "http://schema.org",
		      "@type": "Organization",
		      "url": "{{ site.url }}",
		      "logo": "{{ site.url }}/assets/img/logo/logo.png"
		    }
		</script>
		
		<script type="application/ld+json">
		    {
		      "@context" : "http://schema.org",
		      "@type" : "Organization",
		      "url" : "{{ site.url }}",
		      "contactPoint" : [{
		        "@type" : "ContactPoint",
		        "telephone" : "{{ site.phone }}",
		        "contactType" : "Customer service"
		      }]
		    }
		</script>
		
		<script type="application/ld+json">
		{
		  "@context" : "http://schema.org",
		  "@type" : "Organization",
		  "name" : "{{ site.name }}",
		  "url" : "{{ site.url }}",
		  "sameAs" : [
		    "https://www.facebook.com/studybuddy.vn/",
		    "https://twitter.com/studybuddy",
		    "https://plus.google.com/u/7/100185032616610319793"
		    
		  ]
		}
		</script>
		
		<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "WebSite",
		  "url": "{{ site.url }}",
		  "potentialAction": {
		    "@type": "SearchAction",
		    "target": "{{ site.url }}/search/?q={search_term_string}",
		    "query-input": "required name=search_term_string"
		  }
		}
		</script>
		
		{% if(page.enable_map_on_serp) %}
		  <script type="application/ld+json">
		  {
		    "@context" : "http://schema.org",
		    "@type" : "WebSite",
		    "name" : "{{ page.product-name }}",
		    "alternateName" : "{{ page.h1-title }}",
		    "url" : "{{ site.url }}{{ page.url }}"
		  }
		  </script>
		
		{% else %}
		
		  <script type="application/ld+json">
		  {
		    "@context" : "http://schema.org",
		    "@type" : "WebSite",
		    "name" : "StudyBuddy",
		    "alternateName" : "{{ site.name }}",
		    "url" : "{{ site.url }}"
		  }
		  </script>
		
		{% endif %}		