<div class="header clearfix">   
    <div class="header-left">
        <ul class="clearfix">
            <li class="menu-1 selected"><a class="df" href="/" title="Trang chủ">TRANG CHỦ</a></li>
            <li class="menu-23 "><a class="df" href="/vi-tri/" title="Vị trí">VỊ TRÍ</a></li>
            <li class="menu-25 "><a class="df" href="/mat-bang-thiet-ke/" title="Mặt bằng">MẶT BẰNG</a></li>
            <li class="menu-26 "><a class="df" href="/noi-that/" title="Nội thất">NỘI THẤT</a></li>
        </ul>
    </div>
    <a class="logo" href="/">
        <img alt="Dự án B6 Giảng Võ" src="{{ site.url }}/assets/img/logo.png" />
    </a>
    
    <div class="header-right">
        <ul class="clearfix">
            <li class="menu-24 "><a class="df" href="/tien-ich/" title="Tiện ích">TIỆN ÍCH</a></li>
            <li class="menu-27 "><a class="df" href="/chinh-sach-ban-hang/" title="Chính sách">CHÍNH SÁCH</a></li>
            <li class="menu-29 "><a class="df" href="/tin-tuc.html" title="Tin tức">TIN TỨC</a></li>
            <li class="menu-30 "><a class="df" href="/lien-he.html" title="Liên hệ">LIÊN HỆ</a></li>
        </ul>
    </div>
    <span class="hotline-mainmenu"><a href="tel:0944326836">0944.326.836</a></span>
    <span id="menu-mobile"></span>
</div><!--End header--> 