<div class="main-banner">
    <div class="block-banner block-banner-slideshow">
        <div class="slider-wrapper theme-default">
            <div id="block-slider" class="nivoSlider">
                <a href="#" >
                    <img  src="images/banner/banner-3.jpg" alt="Banner trang chủ 01" />
                </a>
                <a href="#" >
                    <img  src="images/banner/banner-4.jpg" alt="Banner trang chủ 02" />
                </a>
            </div>
        </div>
    </div><!--end: .block-banner--> 
</div><!--End main-banner-->