		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element swiper_wrapper full-screen force-full-screen clearfix" data-dots="true" data-loop="true" data-grab="false">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/car/assets/media/hero-slider/4.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption top-left center">
								<h2 class="font-primary nott">Renegade 730S</h2>
								<p class="t300 font-primary d-none d-sm-block">Raise your limits over</p>
								<a href="demos/car/car-single.html" class="button button-rounded button-border button-white button-light nott">View Details</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/car/assets/media/hero-slider/2.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption center">
								<h2 class="font-primary nott">Chevrolet Traverse</h2>
								<p class="t300 font-primary d-none d-sm-block">New and Powerful SUV</p>
								<a href="demos/car/car-single.html" class="button button-rounded button-border button-white button-light nott">View Details</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/car/assets/media/hero-slider/3.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-center">
								<h2 class="font-primary nott">Audi 2018 S5 Cabriolet</h2>
								<p class="t300 font-primary d-none d-sm-block">A Black Diamond</p>
								<a href="demos/car/car-single.html" class="button button-rounded button-border button-white button-light nott">View Details</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</section><!-- #Slider End -->