		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element dark swiper_wrapper clearfix" data-effect="fade" data-loop="true" data-dots="true" data-speed="1000" data-autoplay="4500" style="height: 650px !important">

			<div class="slider-text mb-5 clearfix">
				<h2 class="font-primary">Porsche 911 GTS Models</h2>
				<p class="font-primary">Color Varients</p>
				<a href="https://www.youtube.com/watch?v=RKD2fNVP7kw" class="play-icon shadow" data-lightbox="iframe"><i class="icon-googleplay"></i></a>
			</div>


			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="height: 650px !important">
						<div class="bg" style="background: linear-gradient(15deg, #C8CED6 50%, #7F858D 50%);"></div>
						<div class="slider-caption slider-caption-center topmargin-lg">
							<img src="images/single/1.png""/>
						</div>
					</div>
					<div class="swiper-slide" style="height: 650px !important">
						<div class="bg" style="background: linear-gradient(15deg, #920F23 50%, #CB394E 50%);"></div>
						<div class="slider-caption slider-caption-center topmargin-lg">
							<img src="images/single/2.png""/>
						</div>
					</div>
					<div class="swiper-slide" style="height: 650px !important">
						<div class="bg" style="background: linear-gradient(15deg, #D4D8DD 50%, #75787B 50%);"></div>
						<div class="slider-caption slider-caption-center topmargin-lg">
							<img src="images/single/3.png""/>
						</div>
					</div>
					<div class="swiper-slide" style="height: 700px !important">
						<div class="bg" style="background: linear-gradient(15deg, #C99F25 50%, #9C780E 50%);"></div>
						<div class="slider-caption slider-caption-center topmargin-lg">
							<img src="images/single/4.png""/>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</section><!-- #Slider End -->