<!DOCTYPE html>
<html dir="ltr" lang="vi-VN">
<head>

	{% include head.html %}

</head>

<body class="stretched side-push-panel" data-loader-html="<div><img src='assets/media/page-loader.gif' alt='Loader'></div>">

	<!-- Side Panel Overlay -->
	<div class="body-overlay"></div>

	{% include site_panel.html %}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header.html %}

		{% include slider.html %}

		<!-- Content
		============================================= -->
		<section id="content" class="clearfix">

			{{ content }}

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->

	{% include footer_script.html %}

</body>
</html>
