<!DOCTYPE html> 
<html dir="ltr" lang="vi-VN">
<head>
	{% include onepage/head.html %}
</head>

<body class="no-transition stretched sticky-responsive-menu">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include onepage/_after_body.html %}
	
		{% include onepage/header.html %}
	
		<!-- Content
		============================================= -->
		<section id="content">
	
			<div class="content-wrap">
	
				{{ content }}
	
			</div>
	
		</section><!-- #content end -->
	
		{% include onepage/footer.html %}

	</div><!-- #wrapper end -->
	
	{% include script.html %}
	
	{% include footer_script.html %}
	
	{% include footer_script_map.html %}

</body>
</html>
