<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{% include head.html %}
</head>

<body class="no-transition stretched sticky-responsive-menu">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		{% include header.html %}

		<!-- Content
		============================================= -->
		<section id="content">


		<section id="page-title">

			<div class="container clearfix">
				<h1>{{ page.title }}</h1>
				<span>{{ page.description }}</span>
				<ol class="breadcrumb">
					<li><a href="{{ site.url }}">Trang Chủ</a></li>
					<li><a href="{{ site.url }}/tin-tuc/">Tin Tức</a></li>
					<li class="active">{{ page.title }}</li>
				</ol>
			</div>

		</section>
		
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="postcontent nobottommargin clearfix">
						{{ content }}
	
						<div class="line"></div>
						
						<!-- Tag Cloud
									============================================= -->
									<div class="tagcloud clearfix bottommargin">
										<a href="{{ page.tags }}">{{ page.tags }}</a>
									</div><!-- .tagcloud end -->
	
									<div class="clear"></div>
	
									<!-- Post Single - Share
									============================================= -->
									<div class="si-share noborder clearfix">
										<span>Chia sẻ bài viết này:</span>
										<div>
											<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank" class="social-icon si-borderless si-facebook">
												<i class="icon-facebook"></i>
												<i class="icon-facebook"></i>
											</a>
											<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank" class="social-icon si-borderless si-twitter">
												<i class="icon-twitter"></i>
												<i class="icon-twitter"></i>
											</a>
											<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank" class="social-icon si-borderless si-gplus">
												<i class="icon-gplus"></i>
												<i class="icon-gplus"></i>
											</a>
											<a href="#" class="social-icon si-borderless si-email3">
												<i class="icon-email3"></i>
												<i class="icon-email3"></i>
											</a>
										</div>
									</div><!-- Post Single - Share End -->
						
						<div class="line"></div>
	
	
						<h4>BÀI VIẾT LIÊN QUAN</h4>
						<div class="row clearfix">
							{% include related_post.html %}
						</div>
						<!-- END related posts -->
	
	
					</div>
						
					<div class="sidebar nobottommargin col_last clearfix">
						{% include sidebar.html %}
					</div>

				</div>
			</div>
			

		</section><!-- #content end -->

		{% include footer.html %}

	</div><!-- #wrapper end -->


	{% include script.html %}

	{% include footer_script.html %}


</body>
</html>
